In [2]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [3]:
def create_server_connection(host_name,user_name,user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host= host_name,
            user  =user_name,
            passwd = user_password)
        print("MySql Database connection sucessfull")
    
    except Error as err:
        print(f'Error: '+ str(err))
    
    return connection

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created sucessfully")
    except Error as err:
        print("Error: " + str(err))

def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name
        )
        print("Mysql database connection sucessfull")
    except Error as e:
        print("Error: " + str(e))    
    return connection

def execute_query(connection, qurey):
    cursor = connection.cursor()
    try:
        cursor.execute(qurey)
        connection.commit()
        print("Query was sucessfull")
    except Error as e:
        print("Error: " + str(e))    

def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print("Error: " + str(e))

In [4]:
pw = 'pratham@123'
db = "Attendence_System"#'Attendence_Record'#'Attendence_System'
connection = create_server_connection("127.0.0.1",'root',pw)

MySql Database connection sucessfull

In [4]:
create_database_qurey = 'Create database Attendence_System'
create_database(connection,create_database_qurey)

Error: 1007 (HY000): Can't create database 'attendence_system'; database exists

In [8]:
create_database_qurey = 'Create database Attendence_Record'
create_database(connection,create_database_qurey)

Error: 1007 (HY000): Can't create database 'attendence_record'; database exists

In [5]:
create_orders_table = '''
create table Attendence(
Date varchar(10) not null,
Faculty_Name varchar(30) not null,
Time_In varchar(10) not null,
Time_Out varchar(10) not null
);
'''
connection = create_db_connection("127.0.0.1",'root', pw, "Attendence_System") 
execute_query(connection, create_orders_table)

Mysql database connection sucessfull
Query was sucessfull

In [7]:
create_orders_table = '''
create table Master_Department(
Faculty_Department varchar(30) not null
);
'''
connection = create_db_connection("127.0.0.1",'root', pw, db) 
execute_query(connection, create_orders_table)

Mysql database connection sucessfull
Error: 1050 (42S01): Table 'master_department' already exists

In [5]:
create_orders_table = '''
create table Faculty_Record(
Faculty_Name varchar(20) not null,
Faculty_DOB date,
Faculty_Department varchar(10) not null,
Faculty_Id varchar(30) not null,
Faculty_Password varchar(10) not null,
Faculty_Image varchar(50) not null
);
'''
connection = create_db_connection("127.0.0.1",'root', pw, db) 
execute_query(connection, create_orders_table)

Mysql database connection sucessfull
Error: 1050 (42S01): Table 'faculty_record' already exists

In [9]:
data_orders =  """
insert into Master_Department values
('Others')
"""
connection = create_db_connection("127.0.0.1","root",pw,db)
execute_query(connection, data_orders)

Mysql database connection sucessfull
Query was sucessfull

In [6]:
Date= '2023-03-12'
q1 = """
select * from Attendence where Date = '{}'and Faculty_Name = 'Pratham Sharma';
"""
q1 = q1.format(Date)
print(q1)
connection = create_db_connection("127.0.0.1","root",pw,db)
results = read_query(connection, q1)
for result in results:
    print(result)

select * from Attendence where Date = '2023-03-12'and Faculty_Name = 'Pratham Sharma';

Mysql database connection sucessfull
('2023-03-12', 'Pratham Sharma', '23:07')

In [5]:
q2 = """
select customer_name, phone_number from orders; 
"""
connection = create_db_connection("127.0.0.1","root",pw,db)
results = read_query(connection, q2)
for result in results:
    print(result)

Mysql database connection sucessfull
Error: 1146 (42S02): Table 'attendence_system.orders' doesn't exist

TypeError: 'NoneType' object is not iterable

In [12]:
q3 = """
select year(date_ordered) from orders; 
"""
connection = create_db_connection("127.0.0.1","root",pw,db)
results = read_query(connection, q3)
for result in results:
    print(result)

Mysql database connection sucessfull
(2018,)
(2018,)
(2018,)
(2018,)
(2018,)

In [14]:
q4 = """
select distinct year(date_ordered) from orders; 
"""
connection = create_db_connection("127.0.0.1","root",pw,db)
results = read_query(connection, q4)
for result in results:
    print(result)

Mysql database connection sucessfull
(2018,)

In [24]:
q5 = """
select * from Attendence where Date = '2023-03-12'; 
"""
connection = create_db_connection("127.0.0.1","root",pw,db)
results = read_query(connection, q5)
for result in results:
    print(result)

Mysql database connection sucessfull
(datetime.date(2023, 3, 12), 'Pratham Sharma', '21:44')
(datetime.date(2023, 3, 12), 'Sundra Pechai', '21:44')
(datetime.date(2023, 3, 12), 'Pratham Sharma', '21:54')
(datetime.date(2023, 3, 12), 'Pratham Sharma', '21:57')
(datetime.date(2023, 3, 12), 'Pratham Sharma', '21:59')
(datetime.date(2023, 3, 12), 'Pratham Sharma', '22:03')
(datetime.date(2023, 3, 12), 'Pratham Sharma', '22:03')
(datetime.date(2023, 3, 12), 'Elon Musk', '22:03')
(datetime.date(2023, 3, 12), 'Pratham Sharma', '22:07')

In [5]:
q7 = """
select * from Faculty_Record; 
"""
connection = create_db_connection("127.0.0.1","root",pw,db)
results = read_query(connection, q7)
for result in results:
    print(result)

Mysql database connection sucessfull
('Pratham Sharma', '30/03/2004', 'CSE', 'prathamsharmatrigger2002@gmail.com', 'pratham@123', 'C:/Users/prath/OneDrive/Desktop/Attendence/pic/0.jpg')
('Ratan Tata', '23/02/1972', 'Accounts', 'ratan@gmail.com', 'pratham@123', 'C:/Users/prath/OneDrive/Desktop/Attendence/pic/2.jpg')
('Elon Musk', '30/05/2001', 'Electrical', 'elon@gmail.com', 'pratham@123', 'C:/Users/prath/OneDrive/Desktop/Attendence/pic/1.jpg')
('Sundra Pechai', '30/03/2004', 'CSE', 'sundra@gmail.com', 'pratham@123', 'C:/Users/prath/OneDrive/Desktop/Attendence/pic/3.jpg')

In [6]:
from_db = []
q8 = """
select * from Faculty_Record;
"""
connection = create_db_connection("127.0.0.1", "root", pw, db)
results = read_query(connection, q8)
for result in results:
    result = list(result)
    from_db.append(result)
colums = ["order_id",'customer_name','product_name',"date_ordered","quantity","unit_price", "phone_number"]

df = pd.DataFrame(from_db,columns= colums)
display(df)

Mysql database connection sucessfull

ValueError: 7 columns passed, passed data had 6 columns

In [27]:
Update_Entry = """
update Faculty_Record
set Faculty_DOB = '{}', Faculty_Image = '{}',Faculty_Department = '{}',Faculty_Id = '{}',Faculty_Password = '{}'         
where Faculty_Name = '{}'
"""
Update_Entry = Update_Entry.format(
    "hello",
    "C:/Users/prath/OneDrive/Desktop/Attendence-SQL/pic/0.jpg",
    "hello",
    "hello",
    "C:/Us",
    "Pratham Sharma")
print(Update_Entry)

connection = create_db_connection("127.0.0.1",'root', pw, db) 
execute_query(connection, Update_Entry)

update Faculty_Record
set Faculty_DOB = 'hello', Faculty_Image = 'C:/Users/prath/OneDrive/Desktop/Attendence-SQL/pic/0.jpg',Faculty_Department = 'hello',Faculty_Id = 'hello',Faculty_Password = 'C:/Us'
where Faculty_Name = 'Pratham Sharma'

Mysql database connection sucessfull
Query was sucessfull

In [26]:
from_db = []
q8 = """
select * from orders;
"""
connection = create_db_connection("127.0.0.1", "root", pw, db)
results = read_query(connection, q8)
for result in results:
    result = list(result)
    from_db.append(result)
colums = ["order_id",'customer_name','product_name',"date_ordered","quantity","unit_price", "phone_number"]

df = pd.DataFrame(from_db,columns= colums)
display(df)

Mysql database connection sucessfull

,order_id,customer_name,product_name,date_ordered,quantity,unit_price,phone_number
0,101,Steve,Laptop,2018-06-12,2,800.0,6546542482
1,102,jack,top,2018-06-12,2,800.0,6546542482
2,103,Seiriya,jeans,2018-06-12,2,45.0,6546542482
3,104,ganesh,chess board,2018-06-12,2,800.0,6546542482
4,105,harvi,pook,2018-06-12,2,800.0,6546542482

In [10]:
delete_order = """
delete from Faculty_Record
where Faculty_Name = "Ratan Tata"
"""
connection = create_db_connection("127.0.0.1", 'root', pw,db)
execute_query(connection , delete_order)

Mysql database connection sucessfull
Query was sucessfull